<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>SMART LIGHT</title>
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/site.webmanifest">
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
  <script src="https://kit.fontawesome.com/ef266f505f.js" crossorigin="anonymous"></script>
</head>
<body>
  <main>
    {% if turned %}
      <h1 style="color: #6BD425">Turned on
        <i class="fa-solid fa-plug-circle-check"></i>
        <a class="turn_off" href="{{ url_for('turn_off') }}">Turn off!</a>
      </h1>
      <h5>Click '<span style="color: #EE4266">TURN OF</span>' button to turn off device!</h5>
      <h5>
        Choose
        <span style="color: #F19A3E">c</span>
        <span>o</span>
        <span style="color: red">l</span>
        <span style="color: green">o</span>
        <span style="color: blue">r</span>
        that you want to apply!
      </h5>
      <a class="normal" href="{{ url_for('normal') }}">Normal</a>
      <a class="white" href="{{ url_for('white') }}">White</a>
      <a class="red" href="{{ url_for('change_color', red=red, green=green, blue=blue) }}/255/0/0">Red</a>
      <a class="green" href="{{ url_for('change_color', red=red, green=green, blue=blue) }}/0/255/0">Green</a>
      <a class="blue" href="{{ url_for('change_color', red=red, green=green, blue=blue) }}/0/0/255">Blue</a>
    {% else %}
      <h1 style="color: #EE4266">Turned off
        <i class="fa-solid fa-plug-circle-xmark"></i>
        <a class="turn_on" href="{{ url_for('turn_on') }}">Turn on!</a>
      </h1>
      <h5>Click '<span style="color: #6BD425">TURN ON</span>' button to turn on device!</h5>
    {% endif %}
  </main>
</body>
</html>